/* .wrapper {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

.contents {
    padding: 20px;
    display: flex;
    flex-direction: column;
 
}

.infoHolder{
    width: 100%;
    display: flex;
}
.titleContent{
    
}

.titleContent h2{
    color: rgb(21, 79, 133);
    font-size: 2rem;
}
.faCar{
    margin-right : 10px;
}

.infoContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50%;

}

.infoContainerLeft{
    width: 50%;
    justify-content: center;
   
    height: 100vh;
    margin-right: 10px;
    text-align: center;
}

.infoBar {
    background: #F8F8F8;
    padding: 15px 30px;
    margin-bottom: 15px;
    display: flex;
}

.infoKey {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 17px;
    line-height: 1.13;
    color: #83786D;
}

.infoValue {
    font-size: 25px;
    line-height: 1.24;
    color: #333333;
    font-weight: 500;
}

.addressContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;

}

.infoBox {
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}

.editButton {
    border-radius: 8px;
    cursor: pointer;
    background-color: #FF7600;
    border-color: #FF7600;
    color: white;
    padding: 10px 35px;
}

.loader {
    margin: 100px auto;
} */

.wrapper{
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.infoContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.infoContainerLeft{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
}

.infoContainerRight{
    
}

.infoKey {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 17px;
    line-height: 1.13;
    color: #83786D;
}
.infoBar {
    background: #F8F8F8;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
   
}

.infoValue {
    font-size: 20px;
    line-height: 1.24;
    color: #333333;
    font-weight: 500;
}

.titleContent{
    margin-bottom: 15px;
}

.titleContent h2{
    color: rgb(21, 79, 133);
    font-size: 2rem;
}
.faCar{
    margin-right : 10px;
}

.dealerInfoLogo{
    margin: 0 auto;
}


@media (min-width:1024px){
    .infoContainer{
        flex-direction: row;
    }

    .infoContainerLeft{
        width: 50%;
        padding: 20px
    }

    .infoContainerRight{
        width: 50%;
    }

    .dealerImg{
        display: flex;
        width: 100%;
      
      
       justify-content: center;
    }

    .dealerInfoLogo{
        display: flex;
        width: 100%;
      
      
       justify-content: center;
    }
}
