
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B30F5A0F-96F8-44AA-8948-06126E0C3D5D

 @fortawesome:registry=https://npm.fontawesome.com/
 //npm.fontawesome.com/:_authToken=B30F5A0F-96F8-44AA-8948-06126E0C3D5D
