.wrapper {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 100px;
    left: 36%;
    max-width: 500px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: white;
    color: #83786D;;
}

.header {
    padding: 15px;
    color: #83786D;;
    border-bottom: 1px solid #ededed;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header span {
    cursor: pointer;
    color: black;
}

.cross {
    font-size: 19px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: white;
    top: 5px;
    background-color: #666666;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
}

.fieldLabel{
    color: black;
}

.body {
    padding: 15px
}

.body form {
    display: flex;
    flex-direction: column;
}

.select {
    border: 1px solid #B2B2B2;
    padding: 5px;
    outline: none;
}

.button {
    background-color: #0c63e4;
    display: block;
    width: 100%;
}

.footer {
    margin-top: 15px;
}