.wrapper {
    padding: 100px 0;
margin-left: 15em;
    display: flex;
    /* margin: 0 auto; */
}
.wrapper h1{
    font-size: 20px;
    font-weight: bold;
}

.widget{
    /* background: #FCF8F2; */
    padding: 1.3rem 0 1rem;
    margin-bottom: 1rem;  
    max-width: 400px;
    /* height: 400px; */
}

.widgetDiv{
    background: #F8F8F8;
    padding: 2rem 0.5rem 1.2rem;
    text-align: center;
  
}



.widgetDiv span{
    color: #FF5900;

}

.widgetLeft{
    padding: 10px;
}

.widget ul{
    background: #FCF8F2;
    margin-bottom: 10px;
    padding: 10px 0;
    

}

.widget ul li{
    height: 3em;
    align-items: center;
    display: flex;
  
    text-align: center;
    width: 100%;
    justify-content: center;
}

.widget ul li:first-child{
    background: #FFDECC;
    color: #FF5900;
    

}

.tabs {
    background-color: #FCF8F2;
    padding:20px;

}

.tabContainer {
    margin-top: 40px;
}

.tab {
   font-size: 18px;
    line-height: 1.22;
    text-decoration: none;
    padding: 10px 5px;
    cursor: pointer;
}
.tab:active{
    background-color: orange;
    color: white;
}

.tab:hover {
    background-color: orange;
    color: white;
}

.formWrapper {
    margin: 0 100px;
}

.formLabel {
    color: #FF5900;
    font-size: 29px;
}

.legalName {
    font-size: 14px;
}

.formWrapper  p {
    padding-top: 20px;
    font-size: 20px;
}

.form {
    margin: 30px 0;

}

.input {
    margin-right:15px;
    padding: 5px 7px;
    border: 0.1rem solid #B2B2B2;
    height: 45px;
}

.errorInput {
    border: 2px solid red;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
    margin-bottom: 50px;
}
.error {
    color: red;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #9A9A9A;
    padding: 2rem 0;
    flex-direction: column;
}

.buttonContainer button:nth-child(1) {
    background-color: transparent;
    color: #9A9A9A;
    width: 100%;
    cursor: pointer;
    color: #9A9797;
    border: 0.2rem solid #9A9797;
    margin-bottom: 1rem;
    padding: 10px 15px;


}


.buttonContainer button:nth-child(2){
    
    color: #fff !important;
    border: 0.2rem solid #E6590D !important;
    text-transform: uppercase;
    background: #E6590D !important;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;

}
@media only screen and (max-width: 750px)  {
    .wrapper {
        min-width: 320px;
padding: 0 !important;
margin: 0 auto;
    }
    .row {
        flex-direction: column;
    }
    .tabContainer {
        margin: 0;
    }
    .formWrapper {
        padding: 0 !important;
    }
    /* .buttonContainer button:nth-child(2){
        font-size: 15px;


    } */

  
}

@media (min-width:768px){
    .buttonContainer{
        flex-direction: row;
    }

    .buttonContainer  button:nth-child(1) {
        width: 50%;
        margin: 10px;
    }
    .buttonContainer  button:nth-child(2) {
        width: 50%;
        margin: 10px;

    }
}

@media (max-width: 1100px) {
    .formWrapper {
        margin: 0 50px;
    }

}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        padding: 20px 0;
        margin: 0 auto;
    }

}

@media (max-width: 370px) {
    .wrapper {
        width: 320px;
    }
}